@font-face {
  src: url(./fonts/SpecialElite.ttf);
  font-family: specialElite;
}

body {
  background-color: #1c1c1c;
}

.container {
  display: grid;
  grid-template-rows: 98vh;
  grid-template-columns: 100vw;
}
