.container {
  display: grid;
  grid-template-columns: 100vw;
  min-height: 97vh;
}

.backgroundImg {
  background-image: url(./assets/black-room-low-light.png);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
